*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body
{
  height: 100%;
  width: 100%;
}

.nav-right-icon
{
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 2vmax;
}
.nav-left-icon
{
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 2vmax;
}
.nav-item ul
{
  list-style-type: none;
  color: black;
  text-decoration: none;
}
.nav-item ul li
{
  display: inline;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1vw;
  

}
.top-c-head
{
    font-weight: 500;
    font-size: 1.5vmax;
    text-transform: uppercase;
    letter-spacing: 1vw;
}
.p-item
{
  font-size: 1vmax;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}
.p-item-text
{
  float: left;
  margin-left: 50px;
}

.about-container
{
  margin-top: 100px;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 3vmax;
}
